<h1>Estore Items</h1>

<table>
  <tr>
    <th>Name</th>
    
    <th>Sku</th>
    <th>Unit price</th>
    
  </tr>

<% @catalog_items.each do |catalog_item| %>
  <tr>
    <td><%=h catalog_item.name %></td>
    
    <td><%=h catalog_item.sku %></td>
    <td><%=h number_to_currency(catalog_item.unit_price) %></td>
    
    <td><%= link_to 'Show', catalog_item %></td>
    <td><%= link_to 'Edit', edit_catalog_item_path(catalog_item) %></td>
    <td><%= link_to 'Destroy', catalog_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New catalog_item', new_catalog_item_path %>