<h1>New estore item</h1>

<% form_for @catalog_item, :html=> { :multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :SKU %><br />
    <%= f.text_field :sku %>
  </p>
  <p>
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </p>
  
  <p>
    <%= f.label :FMV %><br />
    <%= f.text_field :FMV %>
  </p>
  
  
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', catalog_items_path %>