<h1>Listing initiatives</h1>

<table>
  <tr>
    <th>Name</th>
    
    <th>Minimum donation</th>
    <th>Needs Printing?</th>
  </tr>

<% @initiatives.each do |initiative| %>
  <tr>
    <td><%=h initiative.name %></td>
    
    <td><%=h number_to_currency(initiative.minimum_donation) %></td>
    <td>
    	<% if initiative.needs_printing == true%>
    	yes
    	<% else %>
    	no
    	<% end %>
    </td>	
    
    <td><%= link_to 'Show', initiative %></td>
    <td><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
    <td><%= link_to 'Destroy', initiative, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New initiative', new_initiative_path %>