<h1>New initiative</h1>

<% form_for(@initiative) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :minimum_donation %><br />
    <%= f.text_field :minimum_donation %>
  </p>
  <p>
    <%= f.label "SKU" %><br />
    <%= f.text_field :sku %>
  </p>
  <p>
  	<%= f.label "Needs Printing?" %><br />
  	<%= f.check_box :needs_printing %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', initiatives_path %>