<h1>Editing station</h1>

<% form_for(@station) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :call_letters %><br />
    <%= f.text_field :call_letters %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </p>
  <p>
    <%= f.label :band %><br />
    <%= f.text_field :band %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= f.text_field :state_id %>
  </p>
  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </p>
  <p>
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :network %><br />
    <%= f.text_field :network %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>