<h1>Listing payment_ccs</h1>

<table>
  <tr>
    <th>Payment</th>
    <th>Cc mask</th>
    <th>Cc type</th>
    <th>Cc exp date</th>
    <th>Cardholder name</th>
  </tr>

<% @payment_ccs.each do |payment_cc| %>
  <tr>
    <td><%=h payment_cc.payment_id %></td>
    <td><%=h payment_cc.cc_mask %></td>
    <td><%=h payment_cc.cc_type %></td>
    <td><%=h payment_cc.cc_exp_date %></td>
    <td><%=h payment_cc.cardholder_name %></td>
    <td><%= link_to 'Show', payment_cc %></td>
    <td><%= link_to 'Edit', edit_payment_cc_path(payment_cc) %></td>
    <td><%= link_to 'Destroy', payment_cc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment_cc', new_payment_cc_path %>