<h1>Homepage for <%= Staff.find(session[:staff_id]).first_name %> <%= Staff.find(session[:staff_id]).last_name %></h1>

<hr>
<%= link_to "Contacts", :controller=>"contacts", :action=>"index" %> | <%= link_to "Transactions", :controller=>"transactions", :action=>"index" %> | <%= link_to "Import CSVs", :action => "import" %> | <%= link_to "Print Transactions", :controller=>"transactions", :action=>"printing"%> | <%= link_to "Reprints", :action=>"printing" %> |  <% if session[:staff_id] %><%= link_to "Logout", :action=>"logout"%><% end %>

<br>
<% if Staff.find(session[:staff_id]).role == "admin" %>
<br>
<h2>Journal Pull</h2>

<%= link_to 'Assign Published Issues', :action=>"journal_pull" %> | <%= link_to 'Export CSV', :action=>"final_report"%>
<br>



<% end %>
<br>

<div>
	<div id="mergeform" >
		<h3>Account Merge</h3>
		<% form_tag('admin/merge') do %>
		<div id="formfields">
		Merge from: <%= text_field_tag 'contact1'%><br><br>
		Merge to:   <%= text_field_tag 'contact2' %><br><br>
		<%= submit_tag 'Submit' %>
		</div>
		<% end %>
	</div>
</div>
