<h1>New transaction_receipt</h1>

<% form_for(@transaction_receipt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :transaction_id %><br />
    <%= f.text_field :transaction_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', transaction_receipts_path %>