<h1>Editing order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :transaction_ID %><br />
    <%= f.text_field :transaction_ID %>
  </p>
  <p>
    <%= f.label :line_ID %><br />
    <%= f.text_field :line_ID %>
  </p>
  <p>
    <%= f.label :static_shipping_fee %><br />
    <%= f.text_field :static_shipping_fee %>
  </p>
  <p>
    <%= f.label :static_tax %><br />
    <%= f.text_field :static_tax %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>