<p>
  <b>Contact id:</b>
  <%=h @donation.contact_id %>
</p>

<p>
  <b>Date:</b>
  <%=h @donation.date %>
</p>


<p>
  <b>Donation amount:</b>
  <%=h @donation.donation_amount %>
</p>

<p>
  <b>Dedicated to:</b>
  <%=h @donation.dedicated_to %>
</p>

<p>
  <b>Personalized inscription:</b>
  <%=h @donation.personalized_inscription %>
</p>

<p>
  <b>Transaction id:</b>
  <%=h @donation.transaction_id %>
</p>

<p>
  <b>Ship:</b>
  <%=h @donation.ship %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
