<h1>Editing subscription</h1>

<% form_for(@subscription, :html=>{:id=>"edit_subscription"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :transaction_id %>
  </p>
    <p>
  	<%= f.label 'Subscription Type' %>
	<%= f.collection_select(:subscription_name, SubscriptionType.all, :name, :name) %>
	</p>
  <p>
    <%= f.label :unit_cost %><br />
    <%= f.text_field :unit_cost %>
  </p>
  <p>
    <%= f.label :needs_reprinting %><br />
    <%= f.check_box :needs_reprinting %>
  </p>
  <p>
    <%= f.label :reship_details %><br />
    <%= f.text_area :reship_details %>
  </p>
  
  <p>
    <%= f.label :deactivated %><br />
    <%= f.check_box :deactivated %>
  </p>
  
  <p>
    <%= button_to_function "Save", "$('edit_subscription').submit(); window.opener.location.reload();window.close()"   %>
  </p>
<% end %>
