<%= f.hidden_field :contact_id %>
  <p>
    <%= f.label :line1 %><br />
    <%= f.text_field :line1 %>
  </p>
  
  <p>
    <%= f.label :line2 %><br />
    <%= f.text_field :line2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :stateAbbrev %><br />
    <%= f.text_field :stateAbbrev %>
  </p>
  <p>
    <%= f.label :countryAbbrev %><br />
    <%= f.text_field :countryAbbrev %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :address_type %>
  </p>
  <p>
    <%= f.label :is_primary %><br />
    <%= f.check_box :is_primary %>
  </p>
 