<h1>Editing segment_detail</h1>

<% form_for(@segment_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contact_ID %><br />
    <%= f.text_field :contact_ID %>
  </p>
  <p>
    <%= f.label :segment_ID %><br />
    <%= f.text_field :segment_ID %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @segment_detail %> |
<%= link_to 'Back', segment_details_path %>