<h1>Editing payments_ach</h1>

<% form_for(@payments_ach) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :payment_id %><br />
    <%= f.text_field :payment_id %>
  </p>
  <p>
    <%= f.label :account_mask %><br />
    <%= f.text_field :account_mask %>
  </p>
  <p>
    <%= f.label :routing_mask %><br />
    <%= f.text_field :routing_mask %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @payments_ach %> |
<%= link_to 'Back', payments_aches_path %>