<h1>Editing payment_receipt</h1>

<% form_for(@payment_receipt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :payment_id %><br />
    <%= f.text_field :payment_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @payment_receipt %> |
<%= link_to 'Back', payment_receipts_path %>