<h1>Listing payment_receipts</h1>

<table>
  <tr>
    <th>Payment</th>
  </tr>

<% @payment_receipts.each do |payment_receipt| %>
  <tr>
    <td><%=h payment_receipt.payment_id %></td>
    <td><%= link_to 'Show', payment_receipt %></td>
    <td><%= link_to 'Edit', edit_payment_receipt_path(payment_receipt) %></td>
    <td><%= link_to 'Destroy', payment_receipt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment_receipt', new_payment_receipt_path %>