<h1>Editing email</h1>

<% form_for(@email) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :is_primary %><br />
    <%= f.check_box :is_primary %>
  </p>
  <p>
    <%= f.label :contact_ID %><br />
    <%= f.text_field :contact_ID %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @email %> |
<%= link_to 'Back', emails_path %>