<h1>Listing shipments</h1>

<table>
  <tr>
    <th>Staff id</th>
    <th>Tracking number</th>
    <th>Transaction id</th>
  </tr>

<% @shipments.each do |shipment| %>
  <tr>
    <td><%=h shipment.staff_ID %></td>
    <td><%=h shipment.tracking_number %></td>
    <td><%=h shipment.transaction_ID %></td>
    <td><%= link_to 'Show', shipment %></td>
    <td><%= link_to 'Edit', edit_shipment_path(shipment) %></td>
    <td><%= link_to 'Destroy', shipment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shipment', new_shipment_path %>