<h1>New shipment</h1>

<% form_for(@shipment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :staff_ID %><br />
    <%= f.text_field :staff_ID %>
  </p>
  <p>
    <%= f.label :tracking_number %><br />
    <%= f.text_field :tracking_number %>
  </p>
  <p>
    <%= f.label :transaction_ID %><br />
    <%= f.text_field :transaction_ID %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shipments_path %>