<h1>Editing recurring_gift</h1>

<% form_for(@recurring_gift) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :transaction_id %><br />
    <%= f.text_field :transaction_id %>
  </p>
  <p>
    <%= f.label :contact_id %><br />
    <%= f.text_field :contact_id %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :deactivate %><br />
    <%= f.text_field :deactivate %>
  </p>
  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.label :interval_size %><br />
    <%= f.text_field :interval_size %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @recurring_gift %> |
<%= link_to 'Back', recurring_gifts_path %>