<h1>Listing shipping_details</h1>

<table>
  <tr>
    <th>Transaction id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Address line1</th>
    <th>Address line2</th>
    <th>City</th>
    <th>State id</th>
    <th>Province</th>
    <th>Country id</th>
    <th>Shipping method</th>
  </tr>

<% @shipping_details.each do |shipping_detail| %>
  <tr>
    <td><%=h shipping_detail.transaction_ID %></td>
    <td><%=h shipping_detail.first_name %></td>
    <td><%=h shipping_detail.last_name %></td>
    <td><%=h shipping_detail.address_line1 %></td>
    <td><%=h shipping_detail.address_line2 %></td>
    <td><%=h shipping_detail.city %></td>
    <td><%=h shipping_detail.state_ID %></td>
    <td><%=h shipping_detail.province %></td>
    <td><%=h shipping_detail.country_ID %></td>
    <td><%=h shipping_detail.shipping_method %></td>
    <td><%= link_to 'Show', shipping_detail %></td>
    <td><%= link_to 'Edit', edit_shipping_detail_path(shipping_detail) %></td>
    <td><%= link_to 'Destroy', shipping_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shipping_detail', new_shipping_detail_path %>