<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ReceivedIssues: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
   <%= javascript_include_tag :defaults, :cache=>true %>
</head>
<body>


<div id="top_header">
<h1><%= image_tag('crilogo2.png', :width=>"125px", :class=>"photo", :align=>"absmiddle") %>
CRI Control Panel- <%= controller.controller_name.titleize %></h1>
</div>

<div id="transaction_content">
	<div id="address_whitespace">
		<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
<center><%= link_to 'Home', :action => "index" %></center>
</div></div>


</body>
</html>
